@import url("../fonts/jost/stylesheet.css");
*,
*:before,
*:after,
*:focus {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}

body {
  position: relative;
}
body * {
  font-family: "jost", sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

.wrapper {
  background-color: #F5F7FA;
}

h1 {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 1px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.6999999881px;
  }
}
h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.6000000238px;
}

.header {
  position: relative;
  background-color: rgba(245, 247, 250, 0.5);
}

.wrap {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
}

.header_wrap {
  padding-top: 8px;
  padding-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1200px) {
  .header_wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header_logo {
  width: 125px;
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_logo img {
  width: 100%;
}

@media (max-width: 1200px) {
  .header_logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.burger {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  height: 12px;
  background: url("../img/burger.svg") center no-repeat;
  margin-right: 15px;
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .burger {
    display: block;
  }
  .burger.active {
    background: url("../img/burger_close.svg") center no-repeat;
  }
}
.header_menu {
  margin-right: auto;
}
.header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_menu ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.400000006px;
  margin-right: 4px;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header_menu ul li:last-child {
  margin-right: 0;
}
.header_menu ul li:hover {
  background-color: #E1E4E6;
}

.dd > .drop_menu_wrap {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  padding: 13px 25px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}
.dd > .drop_menu_wrap .drop_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: rgba(245, 247, 250, 0.97);
}
.dd > .drop_menu_wrap .drop_menu .drop_menu_card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  margin: 0 0 20px;
  cursor: pointer;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}
.dd > .drop_menu_wrap .drop_menu .drop_menu_card_pic {
  margin-bottom: 8px;
}
.dd > .drop_menu_wrap .drop_menu .drop_menu_card_text {
  text-align: center;
}
.dd > .drop_menu_wrap .drop_menu .drop_menu_card_text p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.400000006px;
}

.dd:hover > .drop_menu_wrap {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@media (max-width: 1200px) {
  .header_menu {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header_menu ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
    grid-template-columns: repeat(5, 1fr);
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header_menu ul li {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dd > .drop_menu_wrap {
    top: 90px;
  }
}
@media (max-width: 800px) {
  .header_menu {
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.95);
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    padding-bottom: 20px;
    padding-top: 5px;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_menu ul {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20px;
  }
  .header_menu ul li {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 10px;
  }
  .header_menu.active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .dd > .drop_menu_wrap {
    display: none;
  }
}
.header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .header_info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.header_info_contact {
  margin-right: 32px;
  padding-left: 32px;
  position: relative;
}
.header_info_contact:before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: url("../img/phone.svg");
}
.header_info_contact a {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.400000006px;
}
.header_info_contact a:hover {
  text-decoration: underline;
}

.btn {
  background-color: #ffcc33;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.400000006px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn_header {
  padding-left: 24px;
  padding-right: 24px;
}

.container_wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24% 24px 76% 24px 24% 24px 76%;
  grid-template-columns: repeat(2, 24% 76%);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  padding-top: 64px;
}

@media (max-width: 1200px) {
  .container_wrap {
    -ms-grid-columns: (100%)[1];
    grid-template-columns: repeat(1, 100%);
    padding-top: 4px;
  }
}
@media (max-width: 1200px) {
  .sidebar {
    border-radius: 12px;
    margin-bottom: 76px;
    overflow: auto;
  }
}
.sidebar_title {
  margin-bottom: 16px;
}
.sidebar_title p {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.400000006px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1200px) {
  .sidebar_title {
    display: none;
  }
}
.sidebar_list ul li {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar_list ul li:last-child {
  margin-bottom: 0;
}
.sidebar_list ul li span {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}
.sidebar_list ul li span svg {
  fill: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sidebar_list ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.400000006px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sidebar_list ul li:hover span svg {
  fill: #CC9900;
}
.sidebar_list ul li:hover a {
  color: #CC9900;
}
.sidebar_list ul li.active span svg {
  fill: #CC9900;
}
.sidebar_list ul li.active a {
  color: #CC9900;
}

@media (max-width: 1200px) {
  .sidebar_list {
    width: 1460px;
  }
  .sidebar_list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    padding: 4px;
  }
  .sidebar_list ul li {
    margin-bottom: 0;
    padding: 8px 16px;
    margin-right: 4px;
    border-radius: 8px;
  }
  .sidebar_list ul li:hover {
    background-color: rgba(255, 204, 51, 0.1);
  }
  .sidebar_list ul li.active {
    background-color: rgba(255, 204, 51, 0.1);
  }
  .sidebar_list ul li span {
    display: none;
  }
}
.we {
  position: relative;
  margin-right: 100px;
  background-color: #fff;
  -webkit-box-shadow: 0px 16px 64px 0px rgba(51, 102, 153, 0.0784313725);
          box-shadow: 0px 16px 64px 0px rgba(51, 102, 153, 0.0784313725);
  border-radius: 24px;
  padding: 64px;
}

@media (max-width: 1200px) {
  .we {
    margin-right: 65px;
    padding: 32px;
  }
}
@media (max-width: 800px) {
  .we {
    padding: 230px 24px 24px;
    margin-right: 0;
  }
}
.we_info_title {
  margin-bottom: 32px;
}

@media (max-width: 800px) {
  .we_info_title {
    margin-bottom: 24px;
  }
}
.we_info_text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.400000006px;
}

@media (max-width: 800px) {
  .br_pc {
    display: none;
  }
}
.we_pic {
  position: absolute;
  right: -76px;
  top: 32px;
  -webkit-box-shadow: 0px 16px 64px 0px rgba(51, 102, 153, 0.0784313725);
          box-shadow: 0px 16px 64px 0px rgba(51, 102, 153, 0.0784313725);
  width: 304px;
}
.we_pic img {
  width: 100%;
}

@media (max-width: 1200px) {
  .we_pic {
    width: 240px;
    right: -65;
  }
}
@media (max-width: 800px) {
  .we_pic {
    width: 320px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    top: -24px;
  }
}